@using Microsoft.AspNetCore.Http;
@using Kendo.Mvc.UI
@using SIDPSF.Common
@using SIDPSF.Features
@using SIDPSF.Features.Administration.User.UserChangePassword
@using SIDPSF._Resources
@using static SIDPSF.Common.DataAccess.DBContext
@inject Microsoft.Extensions.Caching.Memory.IMemoryCache MemoryCache;
@model UserChangePasswordModel;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@inject SIDPSF.Common.StringLocalisation.DatabaseResourceLocalisationProvider.ResourceRepository ResourceRepo

@{
    Layout = "~/Features/_Layout.cshtml";
    ViewData["WindowTitle"] = ResourceRepo.GetResourceByName(Model.WindowTitle);
    ViewData["FormTitle"] = ResourceRepo.GetResourceByName(Model.FormTitle);
    ViewData["BreadCrumbRoot"] = ResourceRepo.GetResourceByName(Model.BreadCrumbRoot);
    ViewData["BreadCrumbTitle"] = ResourceRepo.GetResourceByName(Model.BreadCrumbTitle);
}

@await Html.PartialAsync("~/Features/_Shared/_TopMessagesPartial.cshtml")
@await Html.PartialAsync("~/Features/_Shared/_ValidationScriptsPartial.cshtml")
@await Html.PartialAsync("~/Features/_Shared/_ValidationSummaryPartial.cshtml")

@functions {
    private void OrderedList(string Key)
    {
        TempData.Remove(Key);
        return;
    }
}

<div class="account-pages my-0 pt-sm-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden border border-secondary">
                    <div class="bg-gradient bg-secondary">
                        <div class="row">
                            <div class="col-12">
                                <!-- Ensures the column takes full width -->
                                <!-- Flex container to align items to extreme ends -->
                                <div class="d-flex justify-content-between align-items-center p-4">
                                    <!-- Individual divs for each image with padding -->
                                    <div class="p-2">
                                        <img src="~/assets/images/stema.png" alt="" height="50">
                                    </div>
                                    <div class="p-2">
                                        <img src="~/assets/images/logo-light.png" alt="" height="50">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="p-2">
                            <form asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" method="post" id="form">
                                <fieldset>

                                    <!-- #region Password -->
                                    <div class="mb-3">
                                        <label class="col-sm-6 col-form-label" asp-for="Password"></label>

                                        <input asp-for="Password" id="Password" type="password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <!-- #region NewPassword -->
                                    <div class="mb-3">
                                        <label class="col-sm-6 col-form-label" asp-for="NewPassword"></label>

                                        <input asp-for="NewPassword" id="NewPassword" type="NewPassword" class="form-control" />
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>

                                    <!-- #region ConfirmNewPassword -->
                                    <div class="mb-3">
                                        <label class="col-sm-6 col-form-label" asp-for="ConfirmNewPassword"></label>

                                        <input asp-for="ConfirmNewPassword" id="ConfirmNewPassword" type="ConfirmNewPassword" class="form-control"/>
                                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="row g-3">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-secondary waves-effect btn-label waves-light"><i class="bx bx-user-check label-icon"></i>@ResourceRepo.GetResourceByName("btnChangePassword")</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
