@using Common
@using Microsoft.AspNetCore.Http;
@using Kendo.Mvc.UI
@using UserManagement.Common
@using UserManagement.Common.Grid
@using UserManagement._Resources
@model UserManagement.Features.Administration.Localisation.LocalisationSimpleSearchModel
@inject Microsoft.Extensions.Caching.Memory.IMemoryCache MemoryCache;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@inject UserManagement.Common.StringLocalisation.DatabaseResourceLocalisationProvider.ResourceRepository ResourceRepo


@{
    Layout = "~/Features/_Layout.cshtml";
    ViewData["WindowTitle"] = Model.WindowTitle;
    ViewData["FormTitle"] = Model.FormTitle;
    ViewData["BreadCrumbRoot"] = Model.BreadCrumbRoot;
    ViewData["BreadCrumbTitle"] = Model.BreadCrumbTitle;
}

@await Html.PartialAsync("~/Features/_Shared/_KendoUIGridPartial.cshtml")
@await Html.PartialAsync("~/Features/_Shared/_TopMessagesPartial.cshtml")


<div class="card mb-1">
    <div class="card-body">
        @(Html.Kendo().Grid<dynamic>(Model.GetDynamicLocalisationData())
            .Name("gridSimpleSearch")
            .Excel(excel => excel
            .FileName("Localisation_SimpleSearch_Grid_Export.xlsx")
            .AllPages(true)
            .ProxyURL(@Url.Action("Excel_Export_Save", "Localisation"))
            )
            .Scrollable()
            @*Toolbar*@
            .ToolBar(tools =>
            {
                tools.Excel().Text(Grid.Excel);
            })

            .Columns(columns =>
            {
                columns.GenerateGridColumns(Model.LocalisationData, ResourceRepo);
            })

            .AllowCopy(true)
            .NoRecords(true)
            .Messages(messages => { messages.NoRecords(Grid.NoRecords); })
            .LoaderType(GridLoaderType.LoadingPanel)
            .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(false)
            .Events(events => events.Error("onError")))
            .Filterable(f => f.Extra(false).Operators(o => o.ForString(configurator => configurator.Clear().StartsWith(Grid.StartsWith).Contains(Grid.Contains).IsNullOrEmpty(Grid.IsNullOrEmpty))))
            .Sortable(s => s.SortMode(GridSortMode.MultipleColumn))
            )
    </div>
</div>


@await Html.PartialAsync("~/Features/_Shared/_KendoUIGridAdditionalPartial.cshtml")
@await Html.PartialAsync("~/Features/_Shared/_KendoUIGridSimpleSearchPartial.cshtml")


 