@using UserManagement.Common
<!-- ========== Left Sidebar Start ========== -->
@inject Microsoft.Extensions.Caching.Memory.IMemoryCache MemoryCache;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@inject UserManagement.Common.StringLocalisation.DatabaseResourceLocalisationProvider.ResourceRepository ResourceRepo

@{
    var menuStructure = HttpContextAccessor.HttpContext.Session.GetString("MenuStructure");
}


<div class="vertical-menu">

    <div data-simplebar="init" class="h-100">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                <div class="simplebar-offset" style="right: -20px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll; padding-right: 20px; padding-bottom: 0px;">
                        <div class="simplebar-content" style="padding: 0px;">

                            <!--- Sidemenu -->
                            <div id="sidebar-menu" class="mm-active">
                                <!-- Left Menu Start -->
                                <ul class="metismenu list-unstyled mm-show" id="side-menu">

                                    @if (!string.IsNullOrEmpty(menuStructure))
                                    {
                                        @Html.Raw(menuStructure)
                                    }
                                </ul>
                            </div>
                            <!-- Sidebar -->
                        </div>
                    </div>
                </div>
            </div><div class="simplebar-placeholder" style="width: auto; height: 1398px;"></div>
        </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 408px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div>
    </div>
</div>
